In [ ]:
!pip install scikit-learn
import pandas as pd

df=pd.read_csv("/content/drive/MyDrive/ds_salaries.csv")
df1=pd.DataFrame(df)
df.head(10)

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
5,2023,SE,FT,Applied Scientist,222200,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000,USD,136000,US,0,US,L
7,2023,SE,FT,Data Scientist,219000,USD,219000,CA,0,CA,M
8,2023,SE,FT,Data Scientist,141000,USD,141000,CA,0,CA,M
9,2023,SE,FT,Data Scientist,147100,USD,147100,US,0,US,M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [ ]:
inputs= df.drop('salary', axis='columns')
target=df['salary']
target

0         80000
1         30000
2         25500
3        175000
4        120000
         ...
3750     412000
3751     151000
3752     105000
3753     100000
3754    7000000
Name: salary, Length: 3755, dtype: int64

In [ ]:
print(df.columns)

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

le_work_year=LabelEncoder()
le_salary_in_usd=LabelEncoder()
le_remote_ratio=LabelEncoder()

In [ ]:
inputs["work_year_n"]=le_work_year.fit_transform(inputs['work_year'])
inputs["salary_in_usd_n"] = le_work_year.fit_transform(df["salary_in_usd"])
inputs["remote_ratio_n"]=le_work_year.fit_transform(inputs["remote_ratio"])
inputs.head(3)

,work_year,experience_level,employment_type,job_title,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,work_year_n,employment_type_n,salary_currency_n,remote_ratio_n,salary_in_usd_n
0,2023,SE,FT,Principal Data Scientist,EUR,85847,ES,100,ES,L,3,2,127,2,342
1,2023,MI,CT,ML Engineer,USD,30000,US,100,US,S,3,0,28,2,89
2,2023,MI,CT,ML Engineer,USD,25500,US,100,US,S,3,0,23,2,75

In [ ]:
inputs_n=inputs.drop(['job_title','employment_type','experience_level','salary_currency','employee_residence','company_location','company_size'],axis='columns')
inputs_n

,work_year,salary_in_usd,remote_ratio,work_year_n,employment_type_n,salary_currency_n,remote_ratio_n,salary_in_usd_n
0,2023,85847,100,3,2,127,2,342
1,2023,30000,100,3,0,28,2,89
2,2023,25500,100,3,0,23,2,75
3,2023,175000,100,3,2,493,2,757
4,2023,120000,100,3,2,266,2,509
...,...,...,...,...,...,...,...,...
3750,2020,412000,100,0,2,761,2,1029
3751,2021,151000,100,1,2,411,2,668
3752,2020,105000,100,0,2,207,2,432
3753,2020,100000,100,0,0,188,2,402
3754,2021,94665,50,1,2,810,1,378

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [ ]:
model.score(inputs_n, target)

1.0

In [ ]:
model.predict([[20, 412000	,100,	0,	2,	761,	2,	1029]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([412000])